---
import Card from "../components/Card.tsx";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Extension Marketplace">
    <div class="grid grid-cols-4 gap-4 p-12">
        <Card client:visible name="test" description="lorem ipsum dolor sit amet test lol uganda mhm cheems" />
        <Card client:visible name="test" description="lorem ipsum dolor sit amet test lol uganda mhm cheems" />
        <Card client:visible name="test" description="lorem ipsum dolor sit amet test lol uganda mhm cheems" />
        <Card client:visible name="test" description="lorem ipsum dolor sit amet test lol uganda mhm cheems" />
        <Card client:visible name="test" description="lorem ipsum dolor sit amet test lol uganda mhm cheems" />
    </div>
</Layout>