---
export interface Props {
  code: string;
}

const { code } = Astro.props;

import hljs from "highlight.js";
import "highlight.js/styles/tokyo-night-dark.css";

let highlightedHtml = hljs.highlightAuto(code).value;
highlightedHtml.trimStart();
highlightedHtml.trimEnd();
---

<div class="relative my-3">
  <div
    class="absolute -inset-px -z-10 rounded-[16px] bg-[image:linear-gradient(35deg,_rgba(234,_209,_202,_0.6),_rgba(222,_209,_204,_0.05)_25%,_rgba(203,_209,_207,_0.6)_66%,_rgba(181,_208,_231,_0.14))]"
  >
  </div>
  <pre class="max-w-[calc(100vw_-_32px)] overflow-auto relative [clip-path:inset(1px_round_16px)] rounded-[16px] bg-[#161b22] px-8">
    <code class="relative font-medium" set:html={highlightedHtml} />
  </pre>
</div>
