---
export interface Props {
    headings: string[];
}

const { headings } = Astro.props;
---

<aside class="text-right">
    <div class="font-medium text-[#fff0ed]">On This Page</div>
    <div class="grid gap-y-6 pt-6">
        {headings.map((heading) => (
            <div class="text-[#fff0ed]">{heading}</div>
        ))}
    </div>
</aside>