---

---

<aside class="border-r border-[#858494]/20">
    <div class="grid gap-y-16">
        <div>
            <div class="font-semibold text-2xl text-[#fff0ed]">Introduction</div>
            <div class="text-[#70868f] pt-4 font-thin">
                <div class="text-[#fff0ed] px-8 py-4 border-l-2 border-white">Getting Started</div>
                <div class="px-8 py-4 border-l-2 border-[#858494]/50">The Structure</div>
            </div>
        </div>
        <div>
            <div class="font-semibold text-2xl text-[#fff0ed]">Commands</div>
            <div class="text-[#70868f] pt-4 font-thin">
                <div class="px-8 py-4 border-l-2 border-[#858494]/50">get</div>
                <div class="px-8 py-4 border-l-2 border-[#858494]/50">remove</div>
                <div class="px-8 py-4 border-l-2 border-[#858494]/50">tree</div>
                <div class="px-8 py-4 border-l-2 border-[#858494]/50">list</div>
                <div class="px-8 py-4 border-l-2 border-[#858494]/50">migrate</div>
                <div class="px-8 py-4 border-l-2 border-[#858494]/50">config</div>
                <div class="px-8 py-4 border-l-2 border-[#858494]/50">create</div>
            </div>
        </div>
        <div>
            <div class="font-semibold text-2xl text-[#fff0ed]">Configuration</div>
            <div class="text-[#70868f] pt-4 font-thin">
                <div class="px-8 py-4 border-l-2 border-[#858494]/50">Configuration File</div>
                <div class="px-8 py-4 border-l-2 border-[#858494]/50">Settings</div>
            </div>
        </div>
        <div>
            <div class="font-semibold text-2xl text-[#fff0ed]">Extensions</div>
            <div class="text-[#70868f] pt-4 font-thin">
                <div class="px-8 py-4 border-l-2 border-[#858494]/50">Extension Manager</div>
                <div class="px-8 py-4 border-l-2 border-[#858494]/50">Marketplace</div>
                <div class="px-8 py-4 border-l-2 border-[#858494]/50">Types & How to Create</div>
            </div>
        </div>
    </div>
</aside>